{% extends 'base.html' %}
{% block title %} About
{% endblock title %}
{% block body %}
<div class="container"
  
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-pink">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Welcome To Jinies Ice Villa!!</h1>
        <p class="lead my-3">Imagine a world where ice cream is illegal. I would never dream of being part of such a barbaric world (✿◡‿◡)</p>
        {% comment %} <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> {% endcomment %}
      </div>
    </div>
  
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">My Story 😀</strong>
            {% comment %} <h3 class="mb-0">Featured post</h3> {% endcomment %}
            <div class="mb-1 text-muted">Nov 15 2018</div>
            <p class="card-text mb-auto">Hey my name is Krishan Soni , I like ice creams so much. One day I was at the park and enjoying with my friends,there I saw so many poor children they were standing behind the ice cream van and looking at the children around that van who are enjoying ice-creams, one of the child went to the shopkeeper and asked him to give him one icecream, but the shopkeeper scold on him badly and the child start crying and went. I saw all the  episodes and felt so bad and after 2 weeks I started this Jinies ice villa. Where I work as a jini for children and every Sunday I share my  happiness (ice creams) to poor children ❤️</p>
            {% comment %} <a href="#" class="stretched-link">Continue reading</a> {% endcomment %}
            <img src="/static/j4.jfif" class="d-block w-100" alt="..." style="height:223px;
            width:250px;">
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/j1.jfif" class="d-block w-100" alt="..." style="height:200px;
            width:200px;">
            {% comment %} <svg class="bd-placeholder-img" width="200" height="250" xmlns="/static/j1.jfif" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">About Us</strong>
            {% comment %} <h3 class="mb-0">Post title</h3> {% endcomment %}
            {% comment %} <div class="mb-1 text-muted">Nov 11</div> {% endcomment %}
            <p class="mb-auto">Here we serve you the delicious and fresh Ice creams,Doughnuts, and Softies.We have a beautiful palace where you fell like a dream world,especially for children we created children playroom. </p>
            {% comment %} <a href="#" class="stretched-link">Continue reading</a> {% endcomment %}
        
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="/static/j2.jfif" class="d-block w-100" alt="..." style="height:250px;
            width:250px;">
            <p>    </p>
            <img src="/static/j3.jfif" class="d-block w-100" alt="..." style="height:250px;
            width:250px;">
          </div>
        </div>
      </div>
    </div>
  
    <div class="row g-5">
      <div class="col-md-8">
        <h5 class="pb-4 mb-4 fst-italic border-bottom">
            <p>If there is a moment in my life that I would like to experience all 
                over again, it would be the very first time I tasted ice cream.</p>
          If you also want to share happiness with us...Come and join us ❤️🤝📞
        </h5>
  
        
  
  <footer class="blog-footer">
     <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
{% endblock body %}
{% comment %} If there is a moment in my life that I would like to experience all 
over again, it would be the very first time I tasted ice cream. {% endcomment %}