{% extends 'base.html' %}
{% block title %} Contact
{% endblock title %}
{% block body %}
<div class="container mb-3">
<img src="static/c3.jfif/" class="d-block w-100" alt="..." style="height:300px;
    width:100px;">
<h3><center>CONTACT US</center></h3>
<form method="POST" action="/contact">
    {% csrf_token %}

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="name" class="form-control" id="name" name="name" aria-describedby="name">
        <div id="name" class="form-text">Enter your name.</div>
      </div>
    
      <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="contact" class="form-label">Contact Number</label>
      <input type="contact" class="form-control" id="contact" name="contact">
    </div>
    <div class="mb-3">
        <label for="reason" class="form-label">Tell me your reason</label>
        <input type="reason" class="form-control" id="reason" name="reason" aria-describedby="reason">
    </div>
    
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
{% endblock body %}

