{% extends 'base.html' %}
{% block title %} Doughnut
{% endblock title %}
{% block body %}
<div class="container">
    <h1 class="my-4"><center>Conveying Love through Doughnuts (◔◡◔)</center></h1>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/d2.jfif" class="d-block w-100" alt="..." style="height:250px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Strawberry Flavoured cream with lots of chunky sparkles!!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/d1.jfif" class="d-block w-100" alt="..." style="height:250px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Your favorite Chocolate dipped doughnut with glittery sparkels!!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/d3.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Delicious Combo of 4 for you!!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/dp1.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Delicious flavored doughnuts with sparkels!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/dp2.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Honey flavored doughnut</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/dp3.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">simple sugar powder doughnut</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}