{% extends 'base.html' %}
{% block title %} Icecreams
{% endblock title %}
{% block body %}
<div class="container">
    <h1 class="my-4"><center>Never say no to ice-cream :-D</center></h1>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/ip1.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Mixed Flavoured! Basket ice-cream:)</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/ip2.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Chocolate and strawberry basket with berries</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/ip3.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Chocolate cone with hazelnuts</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/i6.jfif" class="d-block w-100" alt="..." style="height:250px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">We have lots of delicious flavours.....which one you would like to pick?</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/i5.jfif" class="d-block w-100" alt="..." style="height:250px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Combo of four flavours with rice cone and added vibrant toping!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/i4.jfif" class="d-block w-100" alt="..." style="height:250px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Delicious strawberry bucket with lots of fruits :-) </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/ip4.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text"> Chocolate Browine </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/ip5.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Summer Candies!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/ip6.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Kulfi</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}