{% extends 'base.html' %}
{% block title %} Softy
{% endblock title %}
{% block body %}
<div class="container">
    <h1 class="my-4"><center>Get the double Scoop!</center></h1>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         <div class="col">
            <div class="card shadow-sm">
                <img src="/static/sp1.jfif" class="d-block w-100" alt="..." style="height:250px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">We have lots of delicious flavours.....which one you would like to pick?</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/sp2.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Rainbow flavoured</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/sp3.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">softy with doughnut </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
    
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/s1.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Vanilla flavored softy with differnt sparkles!!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/s2.jfif" class="d-block w-100" alt="..." style="height:250px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Softies with different flavours and sparkels...choose one :-)</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/s4.jfif" class="d-block w-100" alt="..." style="height:273px;
                width:200px;">
              <div class="card-body">
                <p class="card-text">Simple natural flavored Vanilla softy!!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}